# History files
.Rhistory
.Rapp.history
# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
.Rproj.user
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
inst/doc
/*.fasta
/*.nex
/*.xml
/*.xml.state
/*.trees
/*.log
/*.posterior.log
data/
tests/testthat/*.fasta
tests/testthat/*.nex
tests/testthat/*.xml
tests/testthat/*.xml.state
tests/testthat/*.trees
tests/testthat/*.log
tests/testthat/*.posterior.log
vignettes/*.html
vignettes/*.pdf
vignettes/*.R
vignettes/*.fasta
vignettes/*.nex
vignettes/*.xml
vignettes/*.xml.state
vignettes/*.trees
vignettes/*.log
vignettes/*.posterior.log
vignettes/pirouette_*.*
vignettes/razzo_pipeline_cache/
/*.trees
*.posterior.log
*.log
results/
